.idea
.project
*.sublime-*
.DS_Store
*.seed
*.log
*.csv
*.dat
*.bat
*.out
*.pid
*.swp
*.swo
../SMT/smt/node_modules
test
debug
jsDoc
target
coverage
*.tgz
*.xml
*.pom
*.iml
pom.xml.releaseBackup
Gruntfile.js
