* {
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-family: "Courier New";
    text-align: center;
}

html {
    height: 100%;
    width: 100%;
    background-color: black;
    overflow: hidden;
}

button {
    /*position: fixed;*/
    /*top: 5px;*/
    /*left: 5px;*/
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    border: solid 2px black;
    z-index: 100;
    outline: none;
}

iframe {
    width: 130px;
    height: 130px;
    border: none;
    overflow: hidden;
}

#controls {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1000;
    text-align: left;
}

#owlImg {
    width: 40%;
    top: 5%;
    position: fixed;
    right: 50%;
    margin-right: calc(40% / 2 * -1);
}

@media (max-width : 500px) {
    #owlImg {
        width: calc(75% - 10px);
        top: 5%;
        position: fixed;
        right: 50%;
        margin-right: calc(calc(75% - 10px) / 2 * -1);
    }
}

.rotate7 {
    transform: rotate(7deg);
}

.rotate15 {
    transform: rotate(15deg);
}

.rotate30 {
    transform: rotate(30deg);
}

.rotate50 {
    transform: rotate(50deg);
}

.rotate70 {
    transform: rotate(70deg);
}

.rotate100 {
    transform: rotate(100deg);
}

.rotate125 {
    transform: rotate(125deg);
}

.rotate147 {
    transform: rotate(147deg);
}

.rotate159 {
    transform: rotate(159deg);
}

.rotate175 {
    transform: rotate(175deg);
}